%p
  Add a new node!
  - node = @node || Node.new
  = form_for node do |f|
    = render 'shared/error', object: node
    %p
      .row
        .col-md-12
          .input-group
            %span.input-group-addon
              %span.glyphicon.glyphicon-font
            = f.text_field :title, :class => 'form-control', :placeholder => 'title'
    %p
      .row
        .col-md-12
          .input-group
            %span.input-group-addon
              %span.glyphicon.glyphicon-console
            = f.text_field :content, :class => 'form-control form-group-lg', :placeholder => 'content'
    %p
      = f.hidden_field :annoyer_id, :value => @annoyer.id
      = f.submit 'write node!', :class => 'btn btn-primary btn pull-right'
