%h2 Annoyer Overview and Dashboard
%hr
.row
  .col-md-6
    %h3 Your Annoyers:
    - @annoyers.each do |annoyer|
      .annoyers-overview{ :style => "border-left-color:##{annoyer.color};" }
        %h4.list-group-item-heading= annoyer.title
        .label-annoyer
          = "Nodes (#{get_amount_of_nodes annoyer})"
        .label-annoyer
          = if annoyer.reminders.any?
            - latest_recent_data = get_latest_recent annoyer
            - "latest Recent on: #{latest_recent_data[:date]} (#{latest_recent_data[:reminder]})"
          - else
            - "You never did that!"
        .clearfix
          = link_to "Manage", annoyer_path(annoyer), :class => "btn btn-primary btn-sm pull-right"
  .col-md-6
    %h3 Your 10 latest Recents:
    %ul
      - get_overall_latest_recents(@annoyers).each do |recent|
        %li.list-group-item.list-group-item-recent{ :style => "background-color:##{recent[:color]}" }
          %strong= "#{recent[:reminder]} on "
          %i= recent[:date]
