%h1= @annoyer.title
%hr
.row
  .col-md-8.col-md-offset-2
    %h3 Nodes and Posts
    .panel.panel-default
      .panel-heading{ :style => "background-color:##{@annoyer.color};color:#fff;opacity:0.6;" } Nodes
      .panel-body
        - if @annoyer.nodes.any?
          = render @annoyer.nodes
        - else
          %i there are no nodes that could help you
.row
  .col-md-8.col-md-offset-2
    = render :partial => 'nodes/form'
%hr
.row
  .col-md-8.col-md-offset-2
    %h3 Your reminders:
    .list-group
      - if @annoyer.reminders.any?
        = render 'reminders/reminder', reminders: @reminder_data
      - else
        %i you haven't created any reminders yet
.row
  .col-md-8.col-md-offset-2
    = render :partial => 'reminders/form'
%hr
= link_to annoyer_path(@annoyer), method: :delete, data: { confirm: 'Are you sure?' } do
  %span.btn.btn-danger.btn-sm.pull-right{ :style => "margin-bottom:20px;" }
    Delete this annoyer
    %span.pull-right.glyphicon.glyphicon-trash{ :style => "font-size:16px;margin-left:5px;" }
= link_to edit_annoyer_path(@annoyer) do
  .clearfix
    %span.btn.btn-primary.btn-sm.pull-right{ :style => "margin-bottom:20px;" }
      Edit this annoyer
      %span.pull-right.glyphicon.glyphicon-cog{ :style => "font-size:16px;margin-left:5px;" }
