%p
  Add a new Reminder!
  - reminder = @reminder || Reminder.new
  = form_for reminder do |f|
    - if reminder.errors.any?
      %div{ :class => "alert alert-danger" }
        %strong There has been an error:
        = reminder.errors.full_messages.first
    %p
      %div{ :class => 'row'}
        %div{ :class => 'col-md-12'}
          %div{ :class => 'input-group' }
            %span{ :class => 'input-group-addon' }
              %span{ :class => 'glyphicon glyphicon-font' }
            = f.text_field :title, :class => 'form-control', :placeholder => 'title'
    %p
      %div{ :class => 'row'}
        %div{ :class => 'col-md-6'}
          %span how often:
          %div{ :class => 'input-group' }
            %span{ :class => 'input-group-addon' }
              %span{ :class => 'glyphicon glyphicon-scale' }
            = f.number_field :frequency, :class => 'form-control', :min => '1', :value => '1'
        %div{ :class => 'col-md-6'}
          %span ...times each:
          %div{ :class => 'form-group' }
            = f.select :repeat, ['Day', 'Week', 'Month', 'Year'], {}, :class => 'form-control'
    %p
      = f.hidden_field :annoyer_id, :value => @annoyer.id
      = f.submit 'create reminder!', :class => 'btn btn-primary btn pull-right'
