%p
  Add a new Reminder!
  - reminder = @reminder || Reminder.new
  = form_for reminder do |f|
    - if reminder.errors.any?
      .alert.alert-danger
        %strong There has been an error:
        = reminder.errors.full_messages.first
    %p
      .row
        .col-md-12
          .input-group
            %span.input-group-addon
              %span.glyphicon.glyphicon-font
            = f.text_field :title, :class => 'form-control', :placeholder => 'title'
    %p
      .row
        .col-md-6
          %span how often:
          .input-group
            %span.input-group-addon
              %span.glyphicon.glyphicon-scale
            = f.number_field :frequency, :class => 'form-control', :min => '1', :value => '1'
        .col-md-6
          %span ...times each:
          .form-group
            = f.select :repeat, ['Day', 'Week', 'Month', 'Year'], {}, :class => 'form-control'
    %p
      = f.hidden_field :annoyer_id, :value => @annoyer.id
      = f.submit 'create reminder!', :class => 'btn btn-primary btn pull-right'
