.list-group-item
  %h4= reminder.title
  %div{ :style => "margin:5px;" }
    .label.label-annoyer-opacity{ :style => "background-color:##{@annoyer.color};" }
      %i
        %strong= format_frequency(reminder.frequency)
        a
        %strong= reminder.repeat
  %div{ :style => "margin:5px;" }
    You did it
    .label.label-annoyer-opacity{ :style => "background-color:##{@annoyer.color};" }
      %i
        = frequency_rate_formatted(reminder)
    = "this #{reminder.repeat}"
    = link_to '... and I did it right now!', new_reminder_recent_path(:reminder_id => reminder)
  %div{ :style => "margin:5px;" }
    - if reminder.recents.any?
      You did that the last time on
      %span.label.label-annoyer-opacity{ :style => "background-color:##{@annoyer.color};" }
        = get_latest_date(reminder)
    - else
      = "You never did that at all!"
  = link_to reminder, method: :delete do
    .clearfix
      %span.pull-right.glyphicon.glyphicon-trash{ :style => "font-size:16px;" }
