<!DOCTYPE html>
<html>
<head>
  <title>DoItAgain</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/navigation' %>
  </div>
  <div id="header">
    <div class="container">
      <h1>DoItAgain</h1>
      <p>manage your annoyers, but let them just help you</p>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
